In [1]:
%load_ext sql

In [2]:
import os

# Notes

### Sequence Number Fix

#select nextval('candidates_id_seq');   # Note, will increment sequence
#select max(id) from candidates;
select setval('candidates_id_seq', (select max(id) from candidates));

In [ ]:
os.environ["DATABASE_URL"]

In [ ]:
# show options
%config SqlMagic

In [ ]:
%sql select * from sessions

# Prototypes Query

In [3]:
%sql select id,symbol,session_id sess,timeframe_1 tf1,timeframe_2 tf2,template,status,status_state state,end_dt from prototypes order by id

51 rows affected.

[(1, '@RTY.D', 9, 120, None, 'DP_1TF_120m_sess9', 'CandGen', 'Done', datetime.date(2015, 12, 30)),
 (2, '@CL', 7, 15, None, 'DP_1TF_15m_sess7', 'CandGen', 'Done', datetime.date(2015, 12, 30)),
 (8, '@S', 5, 120, 1440, 'DP_2TF_120m_sess5', 'CandGen', 'Done', datetime.date(2015, 12, 30)),
 (9, '@YM.D', 9, 30, None, 'DP_1TF_30m_sess9', 'CandGen', 'Done', datetime.date(2016, 12, 29)),
 (10, '@ES.D', 9, 30, None, 'DP_1TF_30m_sess9', 'CandGen', 'Done', datetime.date(2016, 12, 29)),
 (13, '@NQ.D', 9, 15, None, 'DP_1TF_15m_sess9', 'CandGen', 'Done', datetime.date(2016, 12, 29)),
 (14, '@NQ.D', 9, 120, 1440, 'DP_2TF_120m_sess9', 'CandGen', 'Done', datetime.date(2015, 12, 30)),
 (15, '@RTY.D', 9, 15, None, 'DP_1TF_15m_sess9', '', '', datetime.date(2015, 12, 30)),
 (16, '@RTY.D', 9, 15, None, 'DP_1TF_15m_sess9', '', '', datetime.date(2015, 12, 30)),
 (17, '@RTY.D', 9, 15, None, 'DP_1TF_15m_sess9', 'CandGen', 'Done', datetime.date(2015, 12, 30)),
 (18, '@S', 5, 15, None, 'DP_1TF_15m_sess5', 'CandGen', 'Done', datetime.date(2015, 12, 30)),
 (19, '@S', 5, 20, None, 'DP_1TF_20m_sess5', 'CandGen', 'working', datetime.date(2014, 12, 30)),
 (20, '@S', 5, 30, None, 'DP_1TF_30m_sess5', '', '', datetime.date(2016, 12, 29)),
 (21, '@S', 5, 30, None, 'DP_1TF_30m_sess5', 'CandGen', 'working', datetime.date(2016, 12, 29)),
 (22, '@NQ.D', 9, 30, None, 'DP_1TF_30m_sess9', '', '', datetime.date(2016, 12, 29)),
 (23, '@NQ.D', 9, 30, None, 'DP_1TF_30m_sess9', 'CandGen', 'working', datetime.date(2016, 12, 29)),
 (24, '@NQ.D', 9, 15, None, 'DP_1TF_15m_sess9', 'CandGen', 'working', datetime.date(2015, 12, 30)),
 (25, '@GC', 10, 120, None, 'DP_1TF_120m_sess10', '', '', datetime.date(2015, 12, 30)),
 (26, '@GC', 10, 120, None, 'DP_1TF_120m_sess10', 'Filtering', 'working', datetime.date(2015, 12, 30)),
 (27, '@GC', 10, 15, None, 'DP_1TF_15m_sess10', 'CandGen', 'working', datetime.date(2015, 12, 30)),
 (28, '@GC', 10, 20, None, 'DP_1TF_20m_sess10', 'Filtering', 'working', datetime.date(2015, 12, 30)),
 (29, '@GC', 10, 120, 1440, 'DP_2TF_120m_sess10', '', '', datetime.date(2015, 12, 30)),
 (30, '@GC', 10, 60, None, 'DP_1TF_60m_sess10', 'CandGen', 'working', datetime.date(2016, 12, 29)),
 (31, '@CL', 7, 30, 1440, 'DP_2TF_30m_test2', 'CandGen', 'working', datetime.date(2016, 12, 29)),
 (32, '@GC', 7, 30, 1440, 'DP_2TF_30m_test2', 'CandGen', 'working', datetime.date(2016, 12, 29)),
 (33, '@GC', 10, 30, 1440, 'DP_2TF_30m_test2_10', 'CandGen', 'working', datetime.date(2016, 12, 29)),
 (34, '@S', 5, 30, 1440, 'Proto_2TF_30m_sess5', 'filtering', 'working', datetime.date(2015, 12, 30)),
 (35, '@C', 5, 30, 1440, 'Proto_2TF_30m_sess5', 'Filtering', 'done', datetime.date(2015, 12, 30)),
 (36, '@ED', 1, 15, 1440, 'Proto_2TF_15m_sess5', 'Filtering', 'done', datetime.date(2015, 12, 30)),
 (37, '@ED', 9, 15, None, 'Proto_1TF_15m_sess9', 'Filtering', 'done', datetime.date(2015, 12, 30)),
 (38, '@CL', 7, 30, 1440, 'DP_2TF_30m_test2', 'CandGen', 'working', datetime.date(2016, 12, 29)),
 (39, '@NG', 7, 30, 1440, 'Proto_2TF_30m_sess7', 'CandGen', 'working', datetime.date(2016, 12, 29)),
 (40, '@NG', 7, 60, 1440, 'Proto_2TF_30m_sess7', 'CandGen', 'working', datetime.date(2016, 12, 29)),
 (41, '@NG', 7, 60, 1440, 'Proto_2TF_60m_sess7', 'CandGen', 'working', datetime.date(2016, 12, 29)),
 (42, '@NG', 7, 15, None, 'Proto_1TF_15m_sess7', 'CandGen', 'working', datetime.date(2016, 12, 29)),
 (43, '@NG', 7, 15, 1440, 'Proto_2TF_15m_sess7', 'CandGen', 'working', datetime.date(2016, 12, 29)),
 (44, '@RTY.D', 9, 60, 1440, 'Proto_2TF_60m_sess9', 'CandGen', 'working', datetime.date(2016, 12, 29)),
 (45, '@LH', 6, 30, 1440, 'Proto_2TF_30m_sess6', 'CandGen', 'working', datetime.date(2016, 12, 29)),
 (46, '@RTY.D', 9, 60, 1440, 'Proto_2TF_60m_sess9', 'CandGen', 'working', datetime.date(2016, 12, 29)),
 (47, '@LH', 6, 15, 1440, 'Proto_2TF_15m_sess6', 'CandGen', 'working', datetime.date(2016, 12, 29)),
 (48, '@LH', 6, 15, None, 'Proto_1TF_15m_sess6', 'CandGen', 'working', datetime.date(2016, 12, 29)),
 (49, '@LH', 6, 20, None, 'Proto_1TF_20m_sess6', 'CandGen', 'working', datetime.date(2016, 12, 29)),
 (50, '@GC', 10, 30, 1440, 'Proto_2TF_30m_sess10', 'CandGen', 'working', datetime.date(2016, 12, 29)),
 (51, '@LH', 6, 90, 1440, 'Proto_2TF_90m_sess6', 'CandGen', 'working', datetime.date(2016, 12, 29)),
 (52, '@GC', 10, 30, 1440, 'Proto_2TF_30m_sess10', 'CandGen', 'working', datetime.date(2016, 12, 29)),
 (53, '@LH', 4, 15, 1440, 'DayV1_2TF_15m_sess4', 'CandGen', 'working', datetime.date(2016, 12, 29)),
 (54, '@RTY.D', 11, 15, 1440, 'DayV1_2TF_15m_sess11', 'CandGen', 'working', datetime.date(2016, 12, 29)),
 (55, '@S', 12, 15, None, 'DayV1_1TF_15m_sess12', 'CandGen', 'working', datetime.date(2016, 12, 29)),
 (56, '@CL', 7, 15, 360, 'DayV1_2TF_15m_sess7', 'CandGen', 'working', datetime.date(2015, 12, 30)),
 (57, '@RTY.D', 11, 15, 360, 'DayV1_2TF_15m_sess11', 'CandGen', 'working', datetime.date(2015, 12, 30)),
 (71, '@GC', 10, 30, 1440, 'DP_2TF_30m_test2_10', 'Filtering', 'working', datetime.date(2016, 12, 29))]

In [ ]:
%sql #delete from prototypes where id=56

In [ ]:
%sql update prototypes set status='GA', status_state='done' where id = 53

%sql select proto_id,symbol,session_id sess,timeframe_1 tf1, timeframe_2 tf2, status,status_state state, count(*)  from candidates group by proto_id,symbol,sess,tf1,tf2,status,state order by proto_id

In [ ]:
%sql #update prototypes set status='filtering',status_state='working' where id=34

# Market Query

In [ ]:
%sql select * from markets order by id

%sql update mkt_futures set ts_symbol='@ED' where id = 24

In [ ]:
%sql select symbol,status,status_state,robust_level,count(*) from strategies group by symbol,status,status_state,robust_level

In [ ]:
%sql select proto_id,count(*) from strategies group by proto_id order by proto_id

In [ ]:
%sql select id,symbol,template,timeframe_1 tf1,timeframe_2 tf2 from prototypes order by id

# Strategies

In [4]:
%sql select s.id,s.proto_id,s.symbol,s.timeframe_1 tf1,s.timeframe_2 tf2,s.status,s.status_state state,count(t.*) tests \
from strategies s LEFT OUTER JOIN stress_tests t ON (s.id = t.strat_id) \
group by s.id,s.proto_id,s.symbol,tf1,tf2,s.status,state \
having count(t.*) > 0 \
order by s.id

 * postgres://hiikokjjrwmqpg:***@ec2-54-83-60-13.compute-1.amazonaws.com:5432/d617hc9tos6o76
(psycopg2.ProgrammingError) relation "stress_tests" does not exist
LINE 1: ...unt(t.*) tests  from strategies s LEFT OUTER JOIN stress_tes...
                                                             ^
 [SQL: 'select s.id,s.proto_id,s.symbol,s.timeframe_1 tf1,s.timeframe_2 tf2,s.status,s.status_state state,count(t.*) tests  from strategies s LEFT OUTER JOIN stress_tests t ON (s.id = t.strat_id)  group by s.id,s.proto_id,s.symbol,tf1,tf2,s.status,state  having count(t.*) > 0  order by s.id'] (Background on this error at: http://sqlalche.me/e/f405)

In [5]:
%sql select s.id,s.proto_id,s.symbol,s.timeframe_1 tf1,s.timeframe_2 tf2,s.status,s.status_state state,count(t.*) tests \
from strategies s LEFT OUTER JOIN stress_tests t ON (s.id = t.strat_id) \
group by s.id,s.proto_id,s.symbol,tf1,tf2,s.status,state \
having count(t.*) >= 0 \
order by s.id

 * postgres://hiikokjjrwmqpg:***@ec2-54-83-60-13.compute-1.amazonaws.com:5432/d617hc9tos6o76
(psycopg2.ProgrammingError) relation "stress_tests" does not exist
LINE 1: ...unt(t.*) tests  from strategies s LEFT OUTER JOIN stress_tes...
                                                             ^
 [SQL: 'select s.id,s.proto_id,s.symbol,s.timeframe_1 tf1,s.timeframe_2 tf2,s.status,s.status_state state,count(t.*) tests  from strategies s LEFT OUTER JOIN stress_tests t ON (s.id = t.strat_id)  group by s.id,s.proto_id,s.symbol,tf1,tf2,s.status,state  having count(t.*) >= 0  order by s.id'] (Background on this error at: http://sqlalche.me/e/f405)

In [6]:
%sql select status,status_state state, count(*)  from strategies group by status,status_state

 * postgres://hiikokjjrwmqpg:***@ec2-54-83-60-13.compute-1.amazonaws.com:5432/d617hc9tos6o76
3 rows affected.

[('WFO', 'passed', 4), ('CA', 'done', 17), ('oosCurve', 'updated', 128)]

# OOS Tests

In [ ]:
%sql select * from oos_tests limit 1

In [7]:
%sql select id,strat_id,symbol,"TotalNetProfit","AvgTradeNetProfit","ProfitFactor","PercentProfitable" from oos_tests order by id --#"AvgTradeNetProfit" desc

 * postgres://hiikokjjrwmqpg:***@ec2-54-83-60-13.compute-1.amazonaws.com:5432/d617hc9tos6o76
128 rows affected.

[(1, 174, '@LH', Decimal('27240.0000'), Decimal('35.3300'), Decimal('1.3600'), Decimal('0.5071')),
 (2, 74, '@S', Decimal('10775.0000'), Decimal('23.2200'), Decimal('1.1500'), Decimal('0.5043')),
 (3, 135, '@NG', Decimal('51330.0000'), Decimal('112.3200'), Decimal('1.8200'), Decimal('0.6105')),
 (4, 171, '@LH', Decimal('30670.0000'), Decimal('35.9600'), Decimal('1.3400'), Decimal('0.5275')),
 (5, 75, '@S', Decimal('26550.0000'), Decimal('26.2900'), Decimal('1.2200'), Decimal('0.5198')),
 (6, 117, '@NG', Decimal('63990.0000'), Decimal('95.7900'), Decimal('1.6500'), Decimal('0.5868')),
 (7, 98, '@CL', Decimal('53860.0000'), Decimal('54.6200'), Decimal('1.2300'), Decimal('0.5396')),
 (8, 119, '@NG', Decimal('33590.0000'), Decimal('52.3200'), Decimal('1.7200'), Decimal('0.5717')),
 (9, 76, '@S', Decimal('33275.0000'), Decimal('53.3300'), Decimal('1.4100'), Decimal('0.5369')),
 (10, 86, '@GC', None, None, None, None),
 (11, 56, '@YM.D', Decimal('-6250.0000'), Decimal('-7.7200'), Decimal('0.9200'), Decimal('0.5185')),
 (12, 106, '@CL', Decimal('73460.0000'), Decimal('73.5300'), Decimal('1.3900'), Decimal('0.5435')),
 (13, 60, '@YM.D', Decimal('4825.0000'), Decimal('8.0100'), Decimal('1.0900'), Decimal('0.5432')),
 (14, 118, '@NG', Decimal('75630.0000'), Decimal('60.8900'), Decimal('1.4000'), Decimal('0.5539')),
 (15, 90, '@CL', Decimal('73590.0000'), Decimal('73.7400'), Decimal('1.3900'), Decimal('0.5421')),
 (16, 91, '@CL', Decimal('52950.0000'), Decimal('58.5700'), Decimal('1.2800'), Decimal('0.5476')),
 (17, 137, '@NG', Decimal('56530.0000'), Decimal('46.3000'), Decimal('1.3500'), Decimal('0.5438')),
 (18, 144, '@RTY.D', Decimal('16005.0000'), Decimal('30.2600'), Decimal('1.3100'), Decimal('0.5633')),
 (19, 54, '@YM.D', Decimal('16270.0000'), Decimal('24.0300'), Decimal('1.2200'), Decimal('0.5805')),
 (20, 57, '@YM.D', Decimal('3230.0000'), Decimal('3.7900'), Decimal('1.0500'), Decimal('0.5434')),
 (21, 114, '@CL', Decimal('38380.0000'), Decimal('134.2000'), Decimal('2.4200'), Decimal('0.6119')),
 (22, 70, '@RTY.D', Decimal('-1580.0000'), Decimal('-1.1500'), Decimal('0.9900'), Decimal('0.4894')),
 (23, 133, '@NG', Decimal('48320.0000'), Decimal('68.7300'), Decimal('1.6200'), Decimal('0.5789')),
 (24, 49, '@YM.D', Decimal('6245.0000'), Decimal('7.9100'), Decimal('1.0700'), Decimal('0.5266')),
 (25, 112, '@CL', Decimal('75690.0000'), Decimal('75.4600'), Decimal('1.4000'), Decimal('0.5424')),
 (26, 50, '@CL', Decimal('73680.0000'), Decimal('73.4600'), Decimal('1.3300'), Decimal('0.5334')),
 (27, 139, '@RTY.D', Decimal('12510.0000'), Decimal('34.1800'), Decimal('1.3700'), Decimal('0.5601')),
 (28, 100, '@CL', Decimal('69270.0000'), Decimal('57.1500'), Decimal('1.2800'), Decimal('0.5462')),
 (29, 59, '@YM.D', Decimal('6015.0000'), Decimal('10.0900'), Decimal('1.1000'), Decimal('0.5436')),
 (30, 96, '@CL', Decimal('60330.0000'), Decimal('61.3700'), Decimal('1.3000'), Decimal('0.5443')),
 (31, 97, '@CL', Decimal('74840.0000'), Decimal('75.0700'), Decimal('1.4000'), Decimal('0.5426')),
 (32, 110, '@CL', Decimal('51490.0000'), Decimal('56.4600'), Decimal('1.2700'), Decimal('0.5450')),
 (33, 101, '@CL', Decimal('66950.0000'), Decimal('61.2000'), Decimal('1.2500'), Decimal('0.5356')),
 (34, 121, '@NG', Decimal('63090.0000'), Decimal('63.4100'), Decimal('1.5600'), Decimal('0.5588')),
 (35, 64, '@CL', Decimal('126380.0000'), Decimal('95.7400'), Decimal('1.3300'), Decimal('0.5318')),
 (36, 152, '@RTY.D', Decimal('18455.0000'), Decimal('39.6000'), Decimal('1.4200'), Decimal('0.5579')),
 (37, 145, '@RTY.D', Decimal('22710.0000'), Decimal('37.7900'), Decimal('1.4000'), Decimal('0.5557')),
 (38, 95, '@CL', Decimal('74260.0000'), Decimal('74.3300'), Decimal('1.4000'), Decimal('0.5425')),
 (39, 123, '@NG', Decimal('39750.0000'), Decimal('48.3000'), Decimal('1.4800'), Decimal('0.5674')),
 (40, 108, '@CL', Decimal('38060.0000'), Decimal('132.1500'), Decimal('2.4000'), Decimal('0.6111')),
 (41, 125, '@NG', Decimal('51520.0000'), Decimal('64.4800'), Decimal('1.5800'), Decimal('0.5832')),
 (42, 126, '@NG', Decimal('51380.0000'), Decimal('71.2600'), Decimal('1.6400'), Decimal('0.5811')),
 (43, 136, '@NG', Decimal('40660.0000'), Decimal('41.6200'), Decimal('1.2700'), Decimal('0.5568')),
 (44, 166, '@LH', Decimal('-380.0000'), Decimal('-0.4400'), Decimal('1.0000'), Decimal('0.4861')),
 (45, 161, '@LH', Decimal('28890.0000'), Decimal('21.8000'), Decimal('1.1800'), Decimal('0.5102')),
 (46, 138, '@NG', Decimal('59180.0000'), Decimal('54.1900'), Decimal('1.3800'), Decimal('0.5604')),
 (47, 77, '@S', Decimal('20275.0000'), Decimal('43.6000'), Decimal('1.3200'), Decimal('0.5247')),
 (48, 51, '@NQ.D', Decimal('14985.0000'), Decimal('27.3900'), Decimal('1.4000'), Decimal('0.5667')),
 (49, 61, '@YM.D', Decimal('29100.0000'), Decimal('64.3800'), Decimal('1.6300'), Decimal('0.6239')),
 (50, 111, '@CL', Decimal('65080.0000'), Decimal('66.8900'), Decimal('1.3300'), Decimal('0.5509')),
 (51, 147, '@RTY.D', Decimal('16965.0000'), Decimal('29.0500'), Decimal('1.3300'), Decimal('0.5582')),
 (52, 92, '@CL', Decimal('73730.0000'), Decimal('74.1000'), Decimal('1.3900'), Decimal('0.5437')),
 (53, 113, '@CL', Decimal('45190.0000'), Decimal('77.6500'), Decimal('1.4100'), Decimal('0.5275')),
 (54, 63, '@CL', Decimal('125210.0000'), Decimal('94.7800'), Decimal('1.3300'), Decimal('0.5420')),
 (55, 69, '@RTY.D', Decimal('13955.0000'), Decimal('12.6200'), Decimal('1.1300'), Decimal('0.5271')),
 (56, 93, '@CL', Decimal('72550.0000'), Decimal('76.2100'), Decimal('1.4100'), Decimal('0.5420')),
 (57, 94, '@CL', Decimal('70680.0000'), Decimal('72.4900'), Decimal('1.4200'), Decimal('0.5477')),
 (58, 115, '@CL', Decimal('46770.0000'), Decimal('46.6800'), Decimal('1.2000'), Decimal('0.5389')),
 (59, 142, '@RTY.D', Decimal('18245.0000'), Decimal('28.3700'), Decimal('1.2800'), Decimal('0.5303')),
 (60, 132, '@NG', Decimal('49950.0000'), Decimal('57.5500'), Decimal('1.4900'), Decimal('0.5622')),
 (61, 116, '@NG', Decimal('71090.0000'), Decimal('86.3800'), Decimal('1.6300'), Decimal('0.5638')),
 (62, 134, '@NG', Decimal('13450.0000'), Decimal('25.3800'), Decimal('1.3100'), Decimal('0.5415')),
 (63, 103, '@CL', Decimal('44660.0000'), Decimal('97.7200'), Decimal('1.5700'), Decimal('0.5383')),
 (64, 81, '@NQ.D', Decimal('16245.0000'), Decimal('16.9200'), Decimal('1.1600'), Decimal('0.5333')),
 (65, 45, '@ES.D', Decimal('25362.5000'), Decimal('21.0700'), Decimal('1.1900'), Decimal('0.5224')),
 (66, 122, '@NG', Decimal('27080.0000'), Decimal('47.1000'), Decimal('1.6100'), Decimal('0.5617')),
 (67, 84, '@RTY.D', Decimal('445.0000'), Decimal('0.4700'), Decimal('1.0000'), Decimal('0.5079')),
 (68, 67, '@RTY.D', Decimal('6695.0000'), Decimal('7.2400'), Decimal('1.0700'), Decimal('0.5330')),
 (69, 104, '@CL', Decimal('59310.0000'), Decimal('57.3600'), Decimal('1.2400'), Decimal('0.5358')),
 (70, 140, '@RTY.D', Decimal('16575.0000'), Decimal('30.0300'), Decimal('1.3200'), Decimal('0.5453')),
 (71, 82, '@NQ.D', Decimal('20550.0000'), Decimal('29.2700'), Decimal('1.2600'), Decimal('0.5014')),
 (72, 85, '@CL', Decimal('89650.0000'), Decimal('62.0800'), Decimal('1.2100'), Decimal('0.5159')),
 (73, 124, '@NG', Decimal('31180.0000'), Decimal('43.7300'), Decimal('1.5600'), Decimal('0.5512')),
 (74, 58, '@CL', Decimal('78120.0000'), Decimal('73.9100'), Decimal('1.3400'), Decimal('0.5326')),
 (75, 79, '@S', Decimal('19000.0000'), Decimal('53.5200'), Decimal('1.4000'), Decimal('0.5887')),
 (76, 105, '@CL', Decimal('53210.0000'), Decimal('50.7700'), Decimal('1.2200'), Decimal('0.5344')),
 (77, 46, '@ES.D', Decimal('5287.5000'), Decimal('5.4600'), Decimal('1.0400'), Decimal('0.5387')),
 (78, 48, '@ES.D', Decimal('29962.5000'), Decimal('30.2700'), Decimal('1.2300'), Decimal('0.5717')),
 (79, 141, '@RTY.D', Decimal('27170.0000'), Decimal('47.5000'), Decimal('1.5300'), Decimal('0.5315')),
 (80, 53, '@ES.D', Decimal('39150.0000'), Decimal('30.5600'), Decimal('1.3100'), Decimal('0.5480')),
 (81, 107, '@CL', Decimal('60980.0000'), Decimal('66.5000'), Decimal('1.3700'), Decimal('0.5333')),
 (82, 87, '@GC', Decimal('-7910.0000'), Decimal('-16.2100'), Decimal('0.9400'), Decimal('0.4775')),
 (83, 109, '@CL', Decimal('74840.0000'), Decimal('75.0700'), Decimal('1.4000'), Decimal('0.5426')),
 (84, 52, '@CL', Decimal('60480.0000'), Decimal('46.2000'), Decimal('1.1600'), Decimal('0.5210')),
 (85, 65, '@YM.D', Decimal('14330.0000'), Decimal('15.3100'), Decimal('1.1500'), Decimal('0.5139')),
 (86, 127, '@NG', Decimal('29770.0000'), Decimal('37.5900'), Decimal('1.4800'), Decimal('0.5505')),
 (87, 83, '@NQ.D', Decimal('15660.0000'), Decimal('21.0200'), Decimal('1.1900'), Decimal('0.5315')),
 (88, 128, '@NG', Decimal('34940.0000'), Decimal('44.1700'), Decimal('1.5800'), Decimal('0.5601')),
 (89, 80, '@S', Decimal('23187.5000'), Decimal('44.9400'), Decimal('1.3400'), Decimal('0.5562')),
 (90, 89, '@CL', Decimal('70670.0000'), Decimal('85.7600'), Decimal('1.4800'), Decimal('0.5461')),
 (91, 66, '@RTY.D', Decimal('-1045.0000'), Decimal('-0.8200'), Decimal('0.9900'), Decimal('0.5051')),
 (92, 129, '@NG', Decimal('28890.0000'), Decimal('39.9600'), Decimal('1.2400'), Decimal('0.5284')),
 (93, 55, '@ES.D', Decimal('14450.0000'), Decimal('19.9600'), Decimal('1.1700'), Decimal('0.5276')),
 (94, 131, '@NG', Decimal('38250.0000'), Decimal('53.8000'), Decimal('1.7700'), Decimal('0.5682')),
 (95, 68, '@RTY.D', Decimal('-3460.0000'), Decimal('-2.2700'), Decimal('0.9800'), Decimal('0.4944')),
 (96, 71, '@S', Decimal('9587.5000'), Decimal('11.7800'), Decimal('1.0900'), Decimal('0.4889')),
 (97, 73, '@S', None, None, None, None),
 (98, 151, '@RTY.D', Decimal('12495.0000'), Decimal('22.1200'), Decimal('1.2200'), Decimal('0.5398')),
 (99, 72, '@S', Decimal('7125.0000'), Decimal('11.7800'), Decimal('1.0800'), Decimal('0.5256')),
 (100, 130, '@NG', Decimal('48470.0000'), Decimal('68.9500'), Decimal('1.6100'), Decimal('0.5775')),
 (101, 99, '@CL', Decimal('74640.0000'), Decimal('77.9900'), Decimal('1.4200'), Decimal('0.5402')),
 (102, 143, '@RTY.D', Decimal('15560.0000'), Decimal('27.8400'), Decimal('1.3000'), Decimal('0.5581')),
 (103, 120, '@NG', Decimal('31440.0000'), Decimal('36.4700'), Decimal('1.4800'), Decimal('0.5371')),
 (104, 78, '@S', Decimal('22125.0000'), Decimal('42.1400'), Decimal('1.3100'), Decimal('0.5524')),
 (105, 102, '@CL', Decimal('19900.0000'), Decimal('23.8300'), Decimal('1.1600'), Decimal('0.5114')),
 (106, 62, '@CL', Decimal('121980.0000'), Decimal('75.9500'), Decimal('1.2500'), Decimal('0.5262')),
 (107, 148, '@RTY.D', Decimal('11950.0000'), Decimal('24.0900'), Decimal('1.3400'), Decimal('0.5484')),
 (108, 153, '@RTY.D', Decimal('11615.0000'), Decimal('22.3800'), Decimal('1.2600'), Decimal('0.5491')),
 (109, 150, '@RTY.D', Decimal('12230.0000'), Decimal('28.5100'), Decimal('1.3000'), Decimal('0.5618')),
 (110, 149, '@RTY.D', Decimal('16075.0000'), Decimal('29.7100'), Decimal('1.3300'), Decimal('0.5508')),
 (111, 146, '@RTY.D', Decimal('15170.0000'), Decimal('33.5600'), Decimal('1.3600'), Decimal('0.5531')),
 (112, 155, '@RTY.D', Decimal('18235.0000'), Decimal('33.7100'), Decimal('1.3600'), Decimal('0.5471')),
 (113, 156, '@LH', Decimal('26630.0000'), Decimal('29.5900'), Decimal('1.2500'), Decimal('0.5100')),
 (114, 157, '@LH', Decimal('12430.0000'), Decimal('20.4400'), Decimal('1.1800'), Decimal('0.5132')),
 (115, 158, '@LH', Decimal('24210.0000'), Decimal('59.1900'), Decimal('1.5700'), Decimal('0.5477')),
 (116, 154, '@RTY.D', Decimal('13195.0000'), Decimal('23.8200'), Decimal('1.2500'), Decimal('0.5523')),
 (117, 163, '@LH', Decimal('-5390.0000'), Decimal('-11.1100'), Decimal('0.9000'), Decimal('0.4598')),
 (118, 164, '@LH', Decimal('-2410.0000'), Decimal('-12.0500'), Decimal('0.9100'), Decimal('0.4400')),
 (119, 165, '@LH', Decimal('650.0000'), Decimal('6.3700'), Decimal('1.0600'), Decimal('0.5098')),
 (120, 167, '@LH', Decimal('-2900.0000'), Decimal('-9.0300'), Decimal('0.9300'), Decimal('0.4548')),
 (121, 162, '@LH', Decimal('11980.0000'), Decimal('11.0700'), Decimal('1.0900'), Decimal('0.4945')),
 (122, 169, '@LH', Decimal('9380.0000'), Decimal('7.7100'), Decimal('1.0700'), Decimal('0.5041')),
 (123, 170, '@LH', Decimal('7810.0000'), Decimal('7.1600'), Decimal('1.0600'), Decimal('0.4895')),
 (124, 160, '@LH', Decimal('5370.0000'), Decimal('9.3100'), Decimal('1.0900'), Decimal('0.4922')),
 (125, 159, '@LH', Decimal('8880.0000'), Decimal('18.4600'), Decimal('1.1800'), Decimal('0.4823')),
 (126, 168, '@LH', Decimal('1250.0000'), Decimal('1.7100'), Decimal('1.0200'), Decimal('0.4911')),
 (127, 172, '@LH', None, None, None, None),
 (128, 173, '@LH', None, None, None, None)]

# Candidates

In [12]:
%sql select status,status_state,count(*) from candidates group by status,status_state

 * postgres://hiikokjjrwmqpg:***@ec2-54-83-60-13.compute-1.amazonaws.com:5432/d617hc9tos6o76
8 rows affected.

[('WFO', 'working', 2),
 ('WFO', 'failed', 444),
 ('WFO', 'done', 1),
 ('new', 'failed', 118),
 ('new', 'pending', 29),
 ('WFO', 'passed', 148),
 ('WFO', 'ImageNF', 1),
 ('WFA', 'done', 4)]

In [ ]:
%sql select symbol,status,status_state,count(*) from candidates group by symbol,status,status_state order by status_state,symbol

In [8]:
import pandas as pd
from sqlalchemy.engine import create_engine

# Presto
engine = create_engine(os.environ['DATABASE_URL']) 

#Read Presto Data query into a DataFrame
df = pd.read_sql('select * from candidates where proto_id=54', engine)
df.head()

,id,test_id,proto_id,sec_id,symbol,template_file,strategy_name,session_id,timeframe_1,timeframe_1_unit,...,pt_switch,profit_target,bt_start_dt,bt_end_dt,input_vars,optimization_string,status,status_state,start_run,end_run
0,847,144,54,4,@RTY.D,DayV1_2TF_15m_sess11,cand_DP_54_T1_15_T2_1440_mkt_144.txt,11,15,min,...,0,1000.0,2008-01-01,2017-12-29,NATR:int Fract:double filter1_n1:int filter1_n...,"15,35,5;0.45,1.05,0.1;1,6,1;12,18,1;0;1000;0;1000",WFO,passed,None,2018-10-17 13:50:02
1,845,86,54,4,@RTY.D,DayV1_2TF_15m_sess11,cand_DP_54_T1_15_T2_1440_mkt_86.txt,11,15,min,...,0,1000.0,2008-01-01,2017-12-29,NATR:int Fract:double filter1_n1:int filter1_n...,"15,35,5;0.6,1.2,0.1;12,18,1;16,20,1;0;1000;0;1000",WFO,failed,None,2018-10-17 13:50:01
2,848,15,54,4,@RTY.D,DayV1_2TF_15m_sess11,cand_DP_54_T1_15_T2_1440_mkt_15.txt,11,15,min,...,0,1000.0,2008-01-01,2017-12-29,NATR:int Fract:double filter1_n1:int filter1_n...,"30,50,5;2.1,2.7,0.1;3,9,1;2,8,1;0;1000;0;1000",WFO,passed,None,2018-10-17 13:50:02
3,846,87,54,4,@RTY.D,DayV1_2TF_15m_sess11,cand_DP_54_T1_15_T2_1440_mkt_87.txt,11,15,min,...,0,1000.0,2008-01-01,2017-12-29,NATR:int Fract:double filter1_n1:int filter1_n...,"30,50,5;1.2,1.8,0.1;15,20,1;1,6,1;0;1000;0;1000",WFO,passed,None,2018-10-17 13:50:02
4,837,77,54,4,@RTY.D,DayV1_2TF_15m_sess11,cand_DP_54_T1_15_T2_1440_mkt_77.txt,11,15,min,...,0,1000.0,2008-01-01,2017-12-29,NATR:int Fract:double filter1_n1:int filter1_n...,"10,30,5;1.05,1.65,0.1;4,10,1;4,10,1;0;1000;0;1000",WFO,passed,None,2018-10-17 13:49:57

# Robust Levels

In [10]:
%sql select robust_level,count(*) from strategies group by robust_level order by robust_level

 * postgres://hiikokjjrwmqpg:***@ec2-54-83-60-13.compute-1.amazonaws.com:5432/d617hc9tos6o76
5 rows affected.

[(-1, 4), (0, 85), (1, 42), (2, 9), (3, 9)]

In [17]:
document.cookie.indexOf('_xsrf')

NameError: name 'document' is not defined